@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Righteous&display=swap');
p, li{
    font-family: "Open Sans";
}
h1, h2, h3, a{
    font-family: "Righteous";
}
/* header box */
header{
    background-color: #290CE6;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    color: #ffde92;
    padding: 20px;
}
.logo{
    grid-column: 1/2;
    padding-left: 20px;
    width:50%;

}
header h1{
    grid-column: 2/3;
    justify-content: left;
}
header p{
    justify-content: center;
    grid-column: 4/5;
    color: white;
    padding-top: 40px;
}

/* nav section */
.nav {
	position: fixed;
	top: 0;
	right: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: white;
	z-index: 10;
	overflow: hidden;
	box-shadow: 2px 0 20px rgba(0, 0, 0, 0.26);
    font-family: "Righteous";
}
.nav li a {
	display: block;
	text-decoration: none;
	text-align: center;
	width: 12rem;
	padding: 1rem;
	color: #290CE6;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	transition: background 0.5s ease-in-out;
}

.nav li a:hover,
.nav li:first-child a {
	background: #ffde92;
	color: black;
}

li a.nav-item {
	display: none;
}

li a.open {
	display: flex;
}

.close::before {
	content: "✖ ";
}

#index-main{
    margin: auto;
    padding: 10px;
}

/* hero box */
#hero{
    display: block;
}
.hero-img{
    margin: auto;
    width: 40%;
    padding-left: 10%;
}
.button-box{
    padding-left: 925px;
    position: relative; bottom: 165px;
}
.button{
    background-color: #ffde92;
    color: black;
    padding: 30px;
    font-size: 30px;
}
.button:hover{
    background-color: #290CE6;
    color: white;
}
/* content section */
#content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#events-box, #spotlight-box, #weather-box, .column, .discover-events{
    box-shadow: 2px 2px 2px 2px #290CE6;
    border: 2px solid black;
    border-radius: 10px;
}
.column, .visits, .discover-events{
    background-color: #ffde92;
    padding: 10px;
    margin: 10px;
}
.events-header{
    text-align: center;
}
.column h3{
    text-align: center;
}
.discover-roxbury{
    text-align: center;
}
#events-box{
    grid-column: 1/2;
    grid-row: 1/3;
}
#spotlight-box{
    grid-column: 2/3;
    grid-row: 1/2;
}
#weather-box{
    grid-column: 2/3;
    grid-row: 1/2;
}
.mod{
    font-weight:bolder;
}
.imgae h2{
    text-align: center;
}
.image{
    text-align: center;
    justify-content: center;
}
#discover-imgs{
    justify-content: center;
    text-align: center;
}
/* footer section */
footer{
    display: block;
    background-color: #290CE6;
    padding: 20px;
    color: #ffde92;
    text-align: center;
    bottom: 0;
}
/*discover page*/
.discover-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.demographics{
    grid-column: 1/2;
    padding-left: 70px;
}
#discover-imgs{
    grid-column: 2/3;
}
.horseshoe-img:hover, #church-img:hover, #toms-diner-img:hover{
    box-shadow: 0 0 50px black;
   }
.horseshoe-img, #church-img, #toms-diner-img{
    text-align: center;
    
}

/* Join Page */
.form-center{
    display: flex;
    justify-content: center;
    margin: auto;
}

form fieldset{
    margin: 2rem ;
    border: 1px solid #290CE6;
    border-radius: 10px;
    padding: .5rem 2%;
    width: 100%;
}
form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
}
form label.top input, form textarea{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: rgb(194, 192, 192);
    width: 90%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, .1);
}
form label.member{
    display: block;
    padding: .75rem 0;
    color: rgb(6, 6, 6);
}
form input.submitBtn{
    border: none;
    background-color:#290CE6;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form fieldset legend{
    font-size: large;
}
form input.submitBtn:hover{
    background-color:#ffde92;
    color: black;
}

/* thank you page */
#thankyou{
    text-align: center;
}