header{
    background-color: #290CE6;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    color: #ffde92;
    padding: 20px;
}
.logo{
    grid-column: 1/2;
    padding-left: 20px;
    width:50%;

}
header h1{
    grid-column: 2/3;
    justify-content: left;
}
header p{
    justify-content: center;
    grid-column: 4/5;
    color: white;
}

#hero{
    display: flex;
}
.hero-img{
    justify-content: center;
}
.button-box{
    text-align:right;

}
.button{
    background-color: #ffde92;
    color: black;
    padding: 10px;
}
.button:hover{
    background-color: #290CE6;
    color: white;
}
#content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#events-box, #spotlight-box, #weather-box{
    box-shadow: 2px 2px 2px 2px #290CE6;
    border: 2px solid black;
    border-radius: 10px;
}
#events-box{
    grid-column: 1/2;
    grid-row: 1/3;
}
#spotlight-box{
    grid-column: 2/3;
    grid-row: 1/2;
}
#weather-box{
    grid-column: 2/3;
    grid-row: 1/2;
}
footer{
    background-color: #290CE6;
    padding: 20px;
    color: #ffde92;
    text-align: center;
}
