@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=East+Sea+Dokdo&display=swap');
main {
	margin: 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	width: 760px;
	background-color: #eee;
	color: #000;
}

main img {
	float: right;
	margin: 0 0 1rem 1rem;
	border: 1px solid #333;
	box-shadow: 0 0 15px #777;
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
    background-color: black;
    gap: 3rem;
    padding: 1rem;
    margin: 0;
    font-family: "East Sea Dokdo";
    font-size: 40px;
}
nav *:nth-child(1) {
    padding-right: 1rem;
}

nav a{
    color: white;
}
svg {
    filter: brightness(0) invert(1);
}

header {
    color: white;
    background-color: rgb(11, 92, 155);
    display: grid;
    grid-template-columns: auto 1fr;
}

h1 {
    text-align: center;
    margin: auto 0;
    font-family: "Bebas Neue";
    font-size: 45px;
}
.prof-pic {
    min-width: 150px;
    grid-column: 1 / 2;
    padding: 10px;
    margin-left: 3rem;
}

main {
    color: black;
    max-width: 760px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 2rem;
}

h2 {
    grid-column: 1/-1;
    border-bottom: 1px solid black;
    font-family: "Bebas Neue";
    font-size: 35px;
}

section {
    box-shadow: 5px 5px 5px 5px rgba(11, 9, 119, 0.5);
    border: 2px solid black;
    border-radius: 10px;
}

#activities {
    grid-column: 1 / 2;
    grid-row: 2/4;
    line-height: 2rem;
}

#project {
    grid-column: 2 / 3;
}

#project a {
    padding: 10px 0 0 20px;
}

#information {
    grid-column: 2 / 3;
}


h3 {
    background-color: rgb(11, 92, 155);
    text-align: center;
    color: white;
    margin: 0;
    font-family: "Bebas Neue";
    font-size: 35px;
}
section div, section a{
    padding-left: 20px;
    font-family: "East Sea Dokdo";
    font-size: 25px;

}

footer {
    background-color: rgb(11, 92, 155);
    text-align: center;
    color: white;
    
}

footer p {
    margin: 20px;
}

.highlight {
    font-size: 12px;
    color: rgb(242, 245, 92);
}

ul {
    list-style: none;
    padding-left: 40px;
    font-family: "East Sea Dokdo";
    font-size: 25px;
}