@media screen and (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    nav *:nth-child(1) {
        padding-right: 0;
    }

    main {
        display: block;
    }

    section {
        margin: 2rem;
    }
    .nav{
        display: block;
    }
    .nav.active li :nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .nav.active li:nth-child(2){
        opacity: 0;
    }
    .nav.active li:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
   
}
